.tank-controls {
	background: none;
	border: none;
	bottom: 0;
}
.tank-controls .ui-header, .ui-title, .control .ui-btn, .inert {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ui-content {
	text-align: center;
}
.ui-header img {
	height: 16px;
}
.start {
	background-image: url(/images/green.png) !important; }
.stop { background-image: url(/images/red.png) !important; }
#battle #fire div, #target #fire div {
	width: 95%;
}
#battle #fire span, #target #fire span {
	vertical-align: middle;
	font-size: 35px;
	position: absolute;
	width: 100%;
	bottom: 115px;
	left: 0;
	text-align: center;
}
#manual #fire span {
	float: left;
	vertical-align: middle;
	font-size: 15px;
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	text-align: center;
}
#pitch {
	width: 100%;
}
#manual #fire {
	position: absolute;
	top: 175px;
	left: 50%;
	margin-left: -55px;
	padding: 5px;
}
#left {
	text-align: left;
	width: 80px;
	float: left;
}
#right {
	text-align: right;
	width: 80px;
	float: right;
}
.compact .ui-btn {
	padding: 5px;
	margin: 2px;
}
